asgiref==3.6.0
Brotli==1.1.0
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.7
dj-database-url==2.2.0
Django==4.1.5
gunicorn==20.1.0
h11==0.14.0
idna==3.4
Pillow==9.4.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
pytz==2024.1
requests==2.31.0
sqlparse==0.4.3
typing_extensions==4.12.2
tzdata==2022.7
urllib3==2.0.3
uvicorn==0.30.5
whitenoise==6.7.0
